body{
    font-family: 'GrotaRd-Reg';
}
h1{
    text-align: center;
    font-family: 'GrotaRd-Bold';
    font-size:6vh;
    line-height: 3.5rem;
    margin-bottom:2.5rem;
}

h2{
    font-family: 'GrotaRd-SemiBold';
    font-size: 3.5rem;
    line-height: 4.5rem;
    transform: rotate(-2.5deg);
    margin:0;
}
.relative{
    position:relative;
}

h3{
    font-family: 'GrotaRd-Bold';
    font-size: 3rem;
    text-align: center;
}

.two-column{
    margin:auto;
    text-align:center;
}

img{
    height:auto;
    margin:auto;
    
}
.quote{
    width:100%;
    max-width:30rem;
}

@media (min-width:50rem){
    .two-column{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    img{
        margin-right:2rem;
    }
    .quote{
        float:left;
    }
    h1{
        font-size:3rem;
    }
    h2{
        text-align: left;
        margin:2rem;
        font-size: 4rem;
    }
    h3{
        position:absolute;
        margin-top:0;
        margin-bottom:2.5rem;
         bottom:0;
         width:100%;
    }
}